<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<parameter name="portalurl" value="https://www.flipkart.com/"></parameter>
<parameter name="portalusername" value="8660040638"></parameter>
<parameter name="portalpassword" value="ashwini12345"></parameter>



  <test  name="Login_Test">
    <classes>
      <class name="loginTest.loginTest">
      <methods>
      <include name="validlogin_test"/>
      
      <include name="invalidlogin_test"/>
      </methods>
      </class>
    </classes>
  </test>
  
  
   <test  name="home_test">
    <classes>
      <class name="hometest.home_test">
      <methods>
      <include name="search_test"/>
      <include name="babycare_test"/>
      <include name="mobiledet_test"/>   
      <include name="trending_test"/>
      <include name="wishlist_test"/>
     
      </methods>
      </class>
    </classes>
  </test>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</suite> <!-- Suite -->
  
  
  
  
  
  
  
  

